
 <h1> Hospitality </h1>
   
  <%= form_for @driver  do |f| %>
    <%= f.label :SKU %> <br>
    <%= f.text_field :first_name %> <br><br>
     <%= f.submit "Go Search me!", class: "btn btn-danger" %> 
  <% end %>

    <h2>
     <%= @name %>
    </h2>
     <h4>
     <%= @brand %>
    </h4>
 <dd>SKU= <%= @as %></dd>
 <legend><br></legend>
  <dd><% @res %></dd>